html {
    height: 100%;
    width: 100%;
}

body {
    background: transparent url(../images/bg.png) repeat 0 0;
    margin: 0 auto;
    height: 100%;
    width: 100%;
    font-family: Oswald, helvetica, sans-serif;
    font-size: 62.5%;
    color: #333333;
}

.span100 {
    width: 100%;
}

.span75 {
    width: 75%;
}

.span50 {
    width: 50%;
}

.span25 {
    width: 25%;
}

.fL {
    float: left;
}

.fR {
    float: right;
}

h1 {
    font-family: Oswald;
    margin: 0;
    font-size: 2.8em;
}

h3 {
    font-family: Oswald;
    margin: 5px 0;
    font-size: 1.4em;
    font-weight: 300;
    letter-spacing: 0.5px;
}

ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: #333333;
}

h2 {
    font-size: 18px;
    font-weight: 400;
    margin: 5px 0;
}

p {
    font-size: 14px;
    margin: 5px 0;
    font-family: helvetica neue;
    color: #B2B2B2;
}

span {
    color: #65A0F7;
}

span.date {
    color: #333333;
    font-style: italic;
}

/* nav */

nav {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 101;
    background: transparent url(../images/nav.png) repeat-x 0 0;
    padding: 15px 0 10px 0;
    text-align: center;
}

.button{
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 103;
}


.new-post {
    margin: 22px 20px 0 -20px;
    background: black;
    padding: 5px;
    float: right;
    border-radius: 1em;
}

/* main */

.main {
    margin-top: 85px;
}

/* avatar */

.avatar {
    /*background: rgba(255,255,255,0.1);*/
    border-radius: 1em;
    padding: 15px 0;
    border: 1px dashed #60F7FC;
    text-align: center;
    margin: 20px;
}

/* event list */

.right-text {
    text-align: right;
    color: #60F7FC;
}

.list {
    color: #B3B3B3;
}

h3.list-title {
    margin: 0 0 10px 20px;
    color: #60F7FC;
    text-transform: uppercase;
}

.list li {
    background: rgba(0,0,0,0.2);
    padding: 10px 5%;
    margin-bottom: 3px;
    float: left;
    width: 90%;
}

.list li a:hover, .list li a:active {
    background: rgba(0,0,0,0.5);
    -webkit-transition: background .3s; -moz-transition: background .3s;
}

.top-post {
    border-top: 1px dashed #60F7FC;
    margin-top: 5px;
    padding-top: 5px;
}

/* event page */

ul.toggle {
    margin: 0 20px;
}

ul.toggle li {
    width: 30%;
    float: left;
    padding: 20px 0 0 0;
    margin: 0 10px 0 0;
    border-radius: 1em 1em 0 0;
}

li.unselected {
    background: rgba(0,0,0,0.5);
}

li.unselected:hover, li.unselected:active {
    background: #181818;
}

ul.social li {
    background: transparent;
    padding: 0;
    margin-bottom: 0;
    float: left;
    width: 60px;
    text-align: center;
}

/* clearfix */

.cf:before, .cf:after { content: ""; display: table; }
.cf:after { clear: both; }
.cf { zoom: 1; }
